/ohtu2017/koodi/viikko2/Verkkokauppa1/build/
/gradleprojekti/build/
/gradleprojekti/.gradle
/ohtu2017/koodi/viikko3/HelloCucumber/.nb-gradle/
/ohtu2017/koodi/viikko3/HelloCucumber/build/
/ohtu2017/koodi/viikko3/LoginCucumber/.nb-gradle/
/ohtu2017/koodi/viikko3/LoginCucumber/build/
/ohtu2017/koodi/viikko4/TyhjaProjekti/.nb-gradle/
/ohtu2017/koodi/viikko4/TyhjaProjekti/build/